# Node modules
node_modules/
backend/node_modules/
frontend/node_modules/
.env
.env.local
.env.development
.env.production


# Logs
*.log
logs/
npm-debug.log*

# Build
dist/
build/

# .env and sensitive files
.env
.env.local
.env.development
.env.production

# IDEs & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Coverage & tests
coverage/
*.lcov

# Others
*.pem
*.key
*.crt
*.zip
*.rar
*.7z
